
header nav > *{
    float: left;
    width: 10%;
    margin: 0 5%;
    list-style: none;
}

header ul{
    width: 20%;
}

hr{
    width: 100%;
    color:  #dbdcdd;
}

header nav li{
    float: left;
    width: 33%;
    font-size: 22px;
    margin-top: 0.2em;
}

header nav li a{
    text-decoration: none;
}

header{
    font-size: 25px;
   
}

header:hover{
    cursor: pointer;
}

aside details summary{
    margin-top: 0.2em;
    font-size: 23px;
    color: #1865f2;
    font-weight: bold;
}

.aside li{
    width: 100%;
    margin: 0;
    float: right;
}

nav form input{
    font-size: 17px;
    font-weight: bolder;
    height: 30px;
    margin-left: -5em;
    padding: 5px 3px;
    border: none;
    background-color: #f2f2f2;
    padding-left: 5px;
    border-radius: 0.5em;
}

nav form input::placeholder{
    color: #1b65e9;
    
}

nav form input:hover{
    background-color: #eeeeee;
    cursor: pointer;
}

nav form i{
    font-size: 1em;
    color: #88898d;
    position: absolute;
    margin: -1.2em 0 0 4em;
}

.one{
    width: 200px;
    margin-top: -0.5em;
    
}

section{
    width: 50%;
    height: 700px;
    float: left;
    margin-top: 150px;
}

section > img{
    width: 70%;
    margin-left: 3em;
    height: 370px;
}

h1{
    font-size: 35px;
    color: #282b33;
}

.para{
    font-size: 20px;
    color: #51535a;
}

footer{
    margin-top: 12em;
    
}

button{
    font-size: 16px;
    padding: 10px 20px;
    background-color: #1865f2;
    color: white;
    border: none;
    float: left;
    margin: 5px;
    width: 10%;
    border-radius: 0.3em;
    font-weight: bold;
}



button:hover {
    outline-color: #1865f2;
    outline-style:solid;
   
   /*  box-shadow: 0 0 0 2px #1865f2; */
}

@media all and (max-width: 600px){
    footer > h1,p{
        float: left;
        width: 100%;
        margin: 0;
        margin-top: 0;
    }
    header nav ul{
        width: 50%;
    }

    section > img{
        float: left;
        width: 80%;
        margin: 0;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 1em;
    }

    
    section{
        width: 100%;
        height: 400px;
        margin-top: 50px;
    }

    footer{
        margin-left: 1em;
    }

    button{
        margin-top: 1em;
        margin-left: 2em;
        width: 80%;
    }

    aside{
        display: none;
    }

    ul li{
        display: none;
    }

    .one{
        margin: 0;
        margin-left: -3em;
        width: 180px;
    }
   
    nav form input{
        margin: 0;
        margin-left: 12em;
        margin-top: 0.5em;
        height: 25px;
        font-size: 15px;
    }

    nav form i{
        margin-left: 20em;
        font-size: 0.7em;
        margin-top: -1.5em;
    }
}



